.vscode/
__pycache__/
backup/
build/
dist/
help/
temp/
fgoTemp/
*.pyc
*.jpg
*.7z
*.tar.gz
*.exe
*.dll
*.ipynb
Fuse*.png
Capture*.png
SpecialDrop*.png
Screenshot*.png
SummonHistory(*.png
Log*.txt
fgoConfig.json
# hide my debug and tweaking files to prevent contaminate the project files
tweaks/