.vs/
.vscode/
*.sln
*proj
chk.png
*.pyc
*.bat
__pycache__/
*.log
*.jpg
backup/
*.xls*
*.7z
*.tar.gz
build/
dist/
Snipaste*
FuseLog*
Capture*
SpecialDrop*
Log*.txt
*Temp*
help/
temp/
*.exe
*.dll
*.ipynb
*.gtar
